.mode-button {
    display: inline-flex;
    position: relative;
    font-family: sans-serif;
}

.mode-button > * {
    transition: all 0.3s ease-in-out;
}

/* Левый большой сектор */
.mode-button__main {
    padding: 8px 14px;
    border: 1px solid #ccc;
    background: #fff;
    border-right: none;
    cursor: pointer;
    border-radius: 6px 0 0 6px;
}

.mode-button:hover > .mode-button__main, .mode-button:hover > .mode-button__current {
    border-color: rgb(43, 130, 230);
}

.mode-button__main:active {
    background-color: rgb(43, 130, 230);
    color: #fff;
}

/* Маленький сектор справа */
.mode-button__current {
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    position: relative;
}

.mode-button__current:hover {
    background: #f0f0f0;
}

.chevron {
    transition: transform 0.2s ease;
}

.chevron.open {
    transform: rotate(180deg);
}

/* Выпадающий список */
.mode-button__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    z-index: 50;
    min-width: max-content;
    padding: 5px;
}

.mode-button__dropdown-item {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.mode-button__dropdown-item:hover {
    background: #f2f2f2;
}